In [19]:
import pandas as pd
import numpy as np
from matplotlib import pyplot as plt
import seaborn as sns

Para a solução, usar o argumento `usecols`

In [20]:
df = pd.read_csv("./etapa-1/concert_tours_by_women.csv")

In [21]:
df.columns

Index(['Rank', 'Peak', 'All Time Peak', 'Actual gross',
       'Adjustedgross (in 2022 dollars)', 'Artist', 'Tour title', 'Year(s)',
       'Shows', 'Average gross', 'Ref.'],
      dtype='object')

In [22]:
columns = [
    'Rank', 
    'Actual gross', 
    'Adjustedgross (in 2022 dollars)', 
    'Artist', 
    'Tour title', 
    'Shows', 
    'Average gross', 
    'Year(s)'
]

df = df[columns]

devo usar set_index() para setar o Rank como índice? Ver o produto final, se no csv as linhas de index aparecer, vou precisar ver isso também.

In [23]:
df

,Rank,Actual gross,Adjustedgross (in 2022 dollars),Artist,Tour title,Shows,Average gross,Year(s)
0,1,"$780,000,000","$780,000,000",Taylor Swift,The Eras Tour †,56,"$13,928,571",2023-2024
1,2,"$579,800,000","$579,800,000",Beyoncé,Renaissance World Tour,56,"$10,353,571",2023
2,3,"$411,000,000","$560,622,615",Madonna,Sticky & Sweet Tour ‡[4][a],85,"$4,835,294",2008-2009
3,4,"$397,300,000","$454,751,555",Pink,Beautiful Trauma World Tour,156,"$2,546,795",2018-2019
4,5,"$345,675,146","$402,844,849",Taylor Swift,Reputation Stadium Tour,53,"$6,522,173",2018
5,6,"$305,158,363","$388,978,496",Madonna,The MDNA Tour,88,"$3,467,709",2012
6,7,"$280,000,000","$381,932,682",Celine Dion,Taking Chances World Tour,131,"$2,137,405",2008-2009
7,8,"$257,600,000","$257,600,000",Pink,Summer Carnival †,41,"$6,282,927",2023-2024
8,9,"$256,084,556","$312,258,401",Beyoncé,The Formation World Tour,49,"$5,226,215",2016
9,10,"$250,400,000","$309,141,878",Taylor Swift,The 1989 World Tour,85,"$2,945,882",2015
10,11,"$229,100,000[b]","$283,202,896",Beyoncé,The Mrs. Carter Show World Tour,132,"$1,735,606",2013-2014
11,12,"$227,400,000","$295,301,479",Lady Gaga,The Monster Ball Tour *,203,"$1,118,227",2009-2011
12,13,"$204,000,000","$251,856,802",Katy Perry,Prismatic World Tour,151,"$1,350,993",2014-2015
13,14,"$200,000,000","$299,676,265",Cher,Living Proof: The Farewell Tour ‡[21][a],325,"$615,385",2002-2005
14,15,"$194,000,000","$281,617,035",Madonna,Confessions Tour,60,"$3,233,333",2006
15,16,"$184,000,000","$227,452,347",Pink,The Truth About Love Tour,142,"$1,295,775",2013-2014
16,17,"$170,000,000","$213,568,571",Lady Gaga,Born This Way Ball,98,"$1,734,694",2012-2013
17,18,"$169,800,000","$207,046,755",Madonna,Rebel Heart Tour,82,"$2,070,732",2015-2016
18,19,"$167,700,000[e]","$204,486,106",Adele,Adele Live 2016,121,"$1,385,950",2016-2017
19,20,"$150,000,000","$185,423,109",Taylor Swift,The Red Tour,86,"$1,744,186",2013-2014